page-show-detail {

  ion-content.maria {

  background-color:beige;

  
  ion-card.details {

img {
  background-color: aqua!important;
}

ion-note {
  color: color($colors, primary) !important;

}

ion-card-content.details {
  
  background-color: white;
  
 
} 

h1.mathis {
  font-size: 20pt;

}
}
}
}