page-welcome {

  font-weight: 300;

  ion-slide {
    position: center;
    background-size: cover;
    align-content: center;
    
  }


  .swiper-pagination-bullet {
    background: white;
  }



  .wrapper {
    text-align: center;
  }

  .button {
    position: center;
    top: 50%;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  }
}